.text {
	span {
		margin: 0 0 20px 0;
		display: block;
		width: 60px;
		height: 2px;
		background-color: #0094e1;
	}
	&__title {
		position: relative;
		z-index: 0;
		margin: 0 0 10px 0;
		display: inline-block;
		font-size: 16px;
		line-height: 24px;
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 0;
			transform: translate(-50%, -50%);
			width: 35px;
			height: 35px;
			border-radius: 100%;
			background-color: #0094e1;
		}
	}
	&__subtitle {
		margin: 0 0 37px 0;
		font-size: 48px;
		line-height: 60px;
	}
	&_fz36 {
		.text {
			&__title {
				margin: 0 0 5px 0;
			}
			&__subtitle {
				margin: 0;
				font-size: 36px;
			}
		}
	}
	&_center {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.text {
			&__subtitle {
				margin: 0 0 20px 0;
			}
			&__title {
				&::before {
					left: 50%;
				}
			}
		}
	}
}
