@media (max-width: 768px) {
	.contacts {
		padding-top: 20px;
		&__icon {
			font-size: 80px;
		}
		&__arrow {
			&_1 {
				top: -19%;
			}
			&_4 {
				left: 13%;
			}
			&_click {
				font-size: 21px;
			}
		}
	}
}
@media (max-width: 600px) {
	.contacts {
		&__icon {
			font-size: 60px;
		}
		&__arrow {
			&_1 {
				top: -27%;
				transform: rotate(48deg);
			}
			&_3 {
				left: 68%;
				transform: rotate(274deg);
			}
			&_4 {
				left: 10%;
			}
			&_click {
				top: -23%;
				left: 0%;
			}
		}
	}
}
@media (max-width: 450px) {
	.contacts {
		&__icon {
			font-size: 30px;
		}
		&__arrow {
			&_1 {
				top: -41%;
				left: 11%;
				transform: rotate(53deg);
			}
			&_2 {
				top: 32%;
				left: 81%;
				transform: rotate(229deg);
			}
			&_3 {
				left: 72%;
				transform: rotate(250deg);
			}
			&_4 {
				top: 79%;
				left: 3%;
			}
			&_click {
				left: -2%;
				font-size: 15px;
			}
		}
	}
}
