@media (max-width: 768px) {
	.HomePage {
		padding: 0;
		&__img {
			display: none;
		}
		&__subtitle {
			font-size: 42px;
		}
	}
}
@media (max-width: 425px) {
	.HomePage {
		&__subtitle {
			font-size: 32px;
		}
	}
}
