.HomePage {
	width: 100%;
	padding: 120px 0 0 0;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__about {
		max-width: 470px;
	}
	&__btn {
		padding: 12px 25px;
		font-size: 14px;
		line-height: 21px;
		color: #fff;
		background-color: #0094e1;
		&:nth-child(3) {
			background: none;
		}
		&:hover {
			transition: all 0.4s ease;
			background-color: #0092e183;
		}
	}
	&__img {
		padding: 20%;
		background: url('../../img/hi.png') center center/contain no-repeat;
	}
}
